.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

@media screen and (max-width: 419px) {
  .row{
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 420px) and (max-width: 991px) {
  .row{
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
  }
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

@media screen and (max-width: 419px) {
  .row{
    width: 100%;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right  {
    width: 100%;
    margin-top: 20px;
  }

  #steps .row{
    padding: 50px 0px;
  }

}

@media screen and (min-width: 420px) and (max-width: 991px) {
  .row{
    width: 100%;
  }

  #steps .row{
    padding-top: 50px;
  }

  #steps .row>.left,
  #steps .row>.central {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }

  #steps .row>.central{
    margin-left: 20px;
    padding-bottom: 20px;
  }

  #steps .row>.right{
    width: 100%;
    padding-bottom: 40px;
  }
}


/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (max-width: 419px) {
  #why .row{
    padding: 30px 0px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    padding-bottom: 20px;
  }
  
}

@media screen and (min-width: 420px) and (max-width: 991px) {
  #why .row{
    padding: 30px 0px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    padding-bottom: 20px;
  }

}



/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {

  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
